body
{
	background-color: #1A1932;
}
#continer
{
	position: absolute;
	left: 0;
	height: 700px;
	top: 0;
	width: 1300px;
	background-color: #1A1932;
}
#Table
{
	position: absolute;
	left: 10px;
	top: 20%;
	width: 100%;
}
.Images
{
	width: 79%;
	height: 10.6%;	
}
.Images1
{
	width: 79%;
	height: 10.6%;	
}
#test
{
	color: white;
	font-family: sans-serif;
}